<!DOCTYPE html>
<html lang="en" style="background-color: rgb(33, 37, 41);">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Laboratório </title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lab_rest_views.styles.css" asp-append-version="true" />
</head>
<body style="background-color: rgb(33, 37, 41); font-family: 'Arial', sans-serif;">
    <header style="background-color: #c99a19;">        
    <div class="text-center" style="font-family: 'Arial', sans-serif;">
        <h1 class="display-4">Laboratório</h1>
        <p>Esta página é uma atividade prática desenvolvida no programa ITAcademy 22.</p>
    </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
